.statistics {
    width: 600px;
    background: linear-gradient(to right, #3a6186, #89253e);
    margin-bottom: 80px;
    padding: 15px;
    border-radius: 4px;
}

.title {
    text-align: center;
    background: linear-gradient(to right, #ffd89b, #19547b);
    margin-bottom: 10px;
    border-radius: 4px;
}

.statList {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.statItem {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    flex-grow: 1;
    margin-right: 10px;
    border: 1px solid #19547b;
    background: linear-gradient(to right, #ffd89b, #19547b);
    border-radius: 4px;
}

.statItem:last-child {
    margin-right: 0px;
}

.label {
    text-align: center;
}

.percentage {
    text-align: center;
}
